html, body {
  height: 100%;
  width: 100%;
  /* font-family: 'Nunito Sans', sans-serif; */
  color: #222222;
  background-color: white;
}
html {
  scroll-behavior: smooth;
}





/* index-carousel */
 #index-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;

}

#index-carousel .carousel-caption{
  position: absolute;
  top:7vh;
}


#index-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;

}

/* solutions-carousel */
#solutions-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}




#solutions-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#solutions-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;

}

/* services-carousel */
#services-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#services-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#services-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* industries-carousel */
#industries-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#industries-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#industries-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* about-carousel */
#about-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#about-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#about-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* success-carousel */
#success-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#success-carousel .carousel-caption{
  position: absolute;
  top:0.5vh;
}


#success-carousel h1 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

/* contact-carousel */
#contact-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#contact-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#contact-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* news-carousel */
#news-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#news-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#news-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* support-carousel */
#support-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}


#support-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}


#support-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}


.drk:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000;
  opacity:0.4;
}



.hide-small {
  display: none;
} 


/* .bottom-carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-85%);
  
} */

/* .bottom-carousel h1{
  font-size: 600%;
  text-shadow: 3px 3px 9px black;
  font-weight: 700;
  margin-bottom: 30px;
  
} */

/* .bottom-carousel p {
    font-size: 220%;
    font-weight: 650;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 50px;
} */

/* .industry-carousel{
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
}
.industry-carousel h1{
  font-size: 600%;
  text-shadow: 3px 3px 9px black;
  font-weight: 600;
  margin-bottom: 30px;
}

.service-carousel{
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}
.service-carousel h1{
  font-size: 600%;
  text-shadow: 3px 3px 9px black;
  font-weight: 600;
  margin-bottom: 30px;
}

.about-carousel{
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
}
.about-carousel h1{
  font-size: 600%;
  text-shadow: 3px 3px 9px black;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-carousel{
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
}
.contact-carousel h1{
  font-size: 600%;
  text-shadow: 3px 3px 9px black;
  font-weight: 600;
  margin-bottom: 30px;
}

.success-carousel{
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
}
.success-carousel h1{
  font-size: 500%;
  text-shadow: 3px 3px 9px black;
  font-weight: 600;
  margin-bottom: 30px;
}

.carousel-caption a {
  font-size: 175%;
  font-weight: 500;
  text-shadow: 3px 3px 10px black;
} */







/* 
#indexCarousel img {
  height: 100vh;
  width: 100%;
  object-fit: cover; 
   -webkit-filter: blur(3px);  
  -moz-filter: blur(3px); 
  -o-filter: blur(3px); 
  -ms-filter: blur(3px); 
  filter: blur(3px);   
  
} 

#indexCarousel .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}  */


/* .welcome-intro {
  background-blend-mode: multiply;
  text-align: center;
} */



.footer-links {
  font-size: 0.9rem;
}

/* nav li a, footer li a, .copywright, .dropdown-item{

  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 16px;
  vertical-align: middle;
  color: #00004B;
} */

/* nav li a:hover, footer li a:hover{
  color: #006788;
  vertical-align: middle;
} */

/* .copywright{
  margin-top: 18px;
  font-size: 10px;
  margin-left: -180px;
} */

/* .dropdown-item:hover{
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #006788;
} */



.section-title h1{
  font-size: 2rem;
  font-weight: 800;
}

.section-body{
  font-size: 1.2rem;
  width: 100%;
  height: auto;
  margin: auto;
  line-height: 1.5;
}
.subtitle{
  font-size: 1.4rem;
  font-weight: 750;
  margin: 1rem 1.5rem 1rem 1.4rem;
}

.section-body p{
  margin-bottom: 2rem;
  font-weight: 500;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}



.logo {
  font-size: 150%;
}


.blue {
  color: #1d184a;
}

.light-blue {
  color: #006993;
}

.solution-title {
  font-size: 1.5rem;
}

#solution-cards a:hover,
.solution-title:hover,
.solution-title:focus {
  color: #006993;
}

.solutions {
  height: 250px;
  object-fit: cover
}



.services-info img {
  height: 400px;
  object-fit: cover;
}

.industry-info img {
  height: 220px;
   object-fit: cover;
} 

/* #contact-center-menu li{
  font-size: 100%;
  text-align: left;
}

#contact-center-menu h3{
  font-size: 155%;
  
} */

.contact-description{
  padding-right:30px;
}


#erp-logo-nav{
  max-width: 10rem;
}

#erp-logo-copywright{
  max-width: 4.5rem;
}

#erp-logo-footer{
  max-width: 11rem;
}

#erp-logo-address{
  max-width: 10rem;
}

#copywright
{
  font-size: 0.7rem;
}

.dropdown-item {
  font-size: 1rem;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
#erp-logo-nav{
  max-width: 19.5rem;
}

#erp-logo-copywright{
  max-width: 6rem;
}

#erp-logo-footer{
  max-width: 12rem;
}

nav {
  height: 60px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  color: #eee;
  position: fixed;
  padding: 5rem;
} 



 .navbar-nav a {
  padding-right: 0.35rem;
  font-size: 1.1rem;

}

#index-carousel h1 {
  font-size: 5.5rem;
  margin-bottom: 0;

}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}


.more-stuff-grid {
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
      1em,
      1fr
    );
}

.more-stuff-grid img {
  width: 400px;
}

/* Success */
#success {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}

#success .carousel-caption{
  position: absolute;
  top:25vh;
}


#success h1 {
  font-size: 5.5rem;
  margin-bottom: 0;

}

#success h2 {
  font-size: 2rem;
} 


 }
