/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  font-family: 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--GLOBAL-- */
.hide-small {
  display: none;
}

.blue {
  color: #1d184a;
}

.light-blue {
  color: #006993; 
}

.section-body {
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.section-title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-body p {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 2rem;
}

.address p {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 750;
  margin-bottom: 1.5rem;
}

.carousel-caption {
  top: 48%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 7px black;
} 

.cards-title{
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.card h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: #1d184a;
}

.card p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: #1d184a;
}

.card-image {
  overflow: hidden;
}

.card-image img {
  transition: all 1s ease-in;
}

.card-image:hover img {
  transform: scale(1.1);
}

.carousel-item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
}

.learn-more {
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0;
  background: #006993;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  z-index: 1;
}      

.learn-more::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  transition: transform 200ms ease-in;
  transform: scaleX(0);
  transform-origin: right;
}

.learn-more:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}   

.parallax {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  margin-top: 60px;
}

.parallax-text h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.75rem;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 5px black;
}

/*--Navigation-- */
nav {  
  border-bottom: 1px solid gray;
}

#erp-logo-nav {
  width: 10rem;
}

.current {
  padding-bottom: 0.25rem;
  font-size: 1rem;
  color: #006993;
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 2.5px;
  background: #006993;
}

.navbar-link {
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25rem;
}

.navbar-link:hover {
  text-decoration: none;
  background-color: white;
  color: #006993;
}

.navbar-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 2px;
  background: #006993;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* FOOTER */
footer {
  border-top: 1px solid gray;
}

#copywright-small {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 1rem;
}
 
#erp-logo-copywright {
  width: 5rem;
}

/* INDEX */
#index1 {
  background-image: url("../img/index-carousel1.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 20%;
  background-size: cover;
}

#index2 {
  background-image: url("../img/index-carousel2.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Control Costs */
#control-costs-carousel {
  background-image: url("../img/control-costs.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 20%;
  background-size: cover;
}

/* Employee Satisfaction */
#employee-satisfaction {
  background-image: url("../img/employee-satisfaction.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 20%;
  background-size: cover;
}

/* Return on Investment */
#return-on-investment {
  background-image: url("../img/return-on-investment.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 20%;
  background-size: cover;
}

/* SOLUTIONS */
#solutions {
  background-image: url("../img/solutions.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Employee Self Management */
#employee-self-management {
background-image: url("../img/employee-self-management.jpg");
background-repeat: no-repeat;
background-color: rgb(139, 139, 139);
background-blend-mode: multiply;
background-position: center;
background-size: cover;
background-position: 30% 20%;
}

/* Performance Management */
#performance {
  background-image: url("../img/performance.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-position: 40% 20%;
}

/* Time Keeping */
#time {
  background-image: url("../img/time.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 36% 20%;
  background-size: cover;
}

/* Employee Portal */
#portal {
  background-image: url("../img/portal.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 45% 20%;
  background-size: cover;
}

/* Schedule Fulfillment */
#schedule {
  background-image: url("../img/schedule.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 45% 20%;
  background-size: cover;
}

/* Intraday */
#intraday {
  background-image: url("../img/intraday.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 15% 20%;
  background-size: cover;
}

/* SERVICES */
#services {
  background-image: url("../img/services.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Software as a Service */
#software {
  background-image: url("../img/software-as-a-service.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Deployment Process */
#deployment {
  background-image: url("../img/deployment.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Integration with Existing Platforms */
#integration {
  background-image: url("../img/integration.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Training Options */
#training {
  background-image: url("../img/training.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 2rem;
  background-size: cover;
}

/* INDUSTRIES */
#industries {
  background-image: url("../img/industries.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Contact Centers */
#contact-centers {
  background-image: url("../img/contact-centers.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 3rem;
  background-size: cover;
}

/* Outsourcers */
#outsourcers {
  background-image: url("../img/outsourcers.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* At Home Agents */
#at-home-agents {
  background-image: url("../img/at-home-agents.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Healthcare */
#healthcare {
  background-image: url("../img/healthcare.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 3.5rem;
  background-size: cover;
}

/* Hospitality */
#hospitality {
  background-image: url("../img/hospitality.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 0.75rem;
  background-size: cover;
}

/* Public Safety */
#public-safety {
  background-image: url("../img/public-safety.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 2rem;
}

/* Manufacturing */
#manufacturing {
  background-image: url("../img/manufacturing.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Shift Based */
#shift-based {
  background-image: url("../img/shift-based.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 50% 3rem;
  background-size: cover;
}

/* ABOUT */
#about {
  background-image: url("../img/about.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Company */
#company {
  background-image: url("../img/company.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Management Team */
#management-team {
  background-image: url("../img/management-team.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Mission */
#mission {
  background-image: url("../img/mission.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Careers */
#careers {
  background-image: url("../img/careers.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 35% 3rem;
  background-size: cover;
}

/* CONTACT */
#contact {
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Sales Inquiries */
#sales {
  background-image: url("../img/sales.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: 100% 3rem;
  background-size: cover;
}

/* Customer Support */
#customer-support {
  background-image: url("../img/customer-support.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Media and PR */
#media {
  background-image: url("../img/media.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* General Inquiries */
#general {
  background-image: url("../img/general.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

#erp-logo-address {
  width: 10rem;
  margin-bottom: 1.5rem;
}

/* SUCCESS STORY */
#success-story {
  background-image: url("../img/success.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* SUPPORT */
#support {
  background-image: url("../img/support.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Support Plans */
#support-plans {
  background-image: url("../img/support-plans.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Implementation Process */
#implementation-process {
  background-image: url("../img/implementation.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Privacy */
#privacy {
  background-image: url("../img/privacy.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Security */
#security {
  background-image: url("../img/security.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* CUSTOMERS */
#customers {
  background-image: url("../img/customers.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-position: 85% 50%;
}

/* Brick and Mortar Contact Center */
#brick {
  background-image: url("../img/brick-and-mortar.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Home Agent Contact Center */
#home-agent {
  background-image: url("../img/home-agent.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* NEWS */
#news {
  background-image: url("../img/news.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-position: 85% 50%;
}

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 
  /* Global */
  .carousel-item {
    height: 75vh;
  }

  .carousel-caption {
    top: 55%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  .carousel-caption h1 {
    font-size: 2rem;
  } 

  .card h1 {
    font-size: 1.75rem;
  }
    
  .card:hover {
    background-color: lightblue; 
  }

  /* NAV */
  #erp-logo-nav{
    width: 12rem;
  }
  
  /* FOOTER */
  #copywright-small {
      font-size: 1rem;
  }

  #erp-logo-copywright{
    max-width: 8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
    /* GLOBAL */
    .carousel-item {
      height: 90vh;
    }

    .carousel-caption h1 {
      font-size: 2.5rem;
    } 
    
    .section-body {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .section-title h1 {
      font-size: 2.5rem;
    }

    .subtitle {
      font-size: 1.5rem;
    }

    .card h1 {
      font-size: 1rem;
    }
 
    /* NAV BAR */
    #erp-logo-nav{
      width: 15rem;
    }

    /* FOOTER */
    #copywright-small {
      font-size: 1.25rem;
    }

    }

      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) {    
      /* GLOBAL */
      .btn-group {
        border: 1px solid white;
      }

      .btn-group:hover>.dropdown-menu {
        display: block;
      }

      .list-title {
        font-size: 1.15rem;
        font-weight: 550;
      }

      .sub-list {
        margin-left: 1.5rem;
      }

      .parallax {
        height: 75vh;
      }

      .hide-large {
        display: none;
      } 

      .hide-small {
        display: inherit;
      }      

      .section-title {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .section-body {
        padding-left: 10rem;
        padding-right: 10rem;
        width: 100%;
        height: auto;
        margin: auto;
      }

      .carousel-caption h1 {
        font-size: 4rem;
      }    

     .carousel-caption {
        top: 50%;
      }

      .card h1 {
        font-size: 1.5rem
      }
 
      .card {
        width:28rem;
      }

      .fade-in {
        opacity: 0;
        transition: opacity 250ms ease-in;
      }

      .fade-in.appear {
        opacity: 1;
      }

      .from-left {
        grid-column: 2 / 3;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      .from-right {
        grid-column: 3 / 4;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
      }

      .from-left,
      .from-right {
        transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in,
          -webkit-transform 400ms ease-in;
        opacity: 0;
      }

      .from-left.appear,
      .from-right.appear {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }

      .more-stuff-grid {
        padding: 4em 0;
        display: grid;
        grid-gap: 2em;
        align-items: center;
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
      }

      .more-stuff-grid img {
        width: 40.25vw;
      }

      .from-right.appear:hover, .from-left.appear:hover {
        text-decoration: none;
        color: #006993;
        position: relative;
      }

      .from-right.appear::after, .from-left.appear::after {
        content: '';
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        height: 2px;
        background: #006993;
        transform: scale(0);
        transition: transform 250ms ease-in;     
      }

      .from-right.appear:hover::after, .from-left.appear:hover::after {
        transform: scale(1);
      }

      /* NAV BAR */
      nav {
        height: 60px;
        width: 100%;
        position: fixed;
        padding: 5rem;
      } 

      #erp-logo-nav{
        width: 12rem;
      }

      .current {
        padding-bottom: 0.35rem;
        font-size: 0.9rem;
      }
                  
      .navbar-link {
        font-size: 0.9rem;
      }
    
      /* FOOTER */
      #copywright {
        font-size: 0.6rem;
        margin-top: 1rem;
      }

      #erp-logo-copywright{
        max-width: 5rem;
      }

      #erp-logo-footer{
        max-width: 8rem;
      }

      footer .btn {
        font-size: 0.65rem;
        margin: 0;
        padding: 0.4rem;
      }
          
      .footer-current {
        padding-bottom: 0.35rem;
        color: #006993;
        font-size: 0.65rem;
      }
      
      .foot-link {
        text-decoration: none;
        position: relative;
        padding-bottom: 0.25rem;        
      }
      
      .foot-link:hover {
        text-decoration: none;
        color: #006993;
      }
      
      .foot-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 95%;
        height: 2px;
        background: #006993;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
      }
      
      .foot-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      /* INDEX */
      #index1 {
        height: 75vh;
        margin-top: 60px;
        background-position: 50% 65%;
      }

      #index2 {
        height: 75vh;
        margin-top: 60px;
      }

      #case1 {
        background-image: url("../img/case1.jpg");
        background-repeat: no-repeat;
        background-color: rgb(180 , 180, 180);
        background-blend-mode: multiply;
        background-position: 50% 34%;
        background-size: cover;
        height: 75vh;
      }

      #case1 .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      #case1 h1 {
        font-size: 4rem;
        color: white;
        text-shadow: 5px 5px 7px black;
      }

      #case1 h2 {
          font-size: 2rem;
          margin-top: 14rem;
          margin-bottom: 1rem;
          color: white;
          text-shadow: 5px 5px 7px black;
      }s

      #case2 {
        background-image: url("../img/case2.jpg");
        background-repeat: no-repeat;
        background-color: rgb(126, 126, 126);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: 50% 45%;
        height: 75vh;
      }

      #case2 .carousel-caption {
        top: 48%;
        transform: translateY(-50%);
        bottom: initial;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      #case2 h1 {
        font-size: 5rem;
        color: white;
        text-shadow: 5px 5px 7px black;
      }

      #case2 h2 {
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        color: white;
        text-shadow: 5px 5px 7px black;
      }  

      #control-costs.appear:hover {
        text-decoration: none;
        color: #006993;
        position: relative;
      }

      #control-costs.appear::after {
        content: '';
        position: absolute;
        left: 25%;
        bottom: 0;
        width: 50%;
        height: 2px;
        background: #006993;
        transform: scale(0);
        transition: transform 250ms ease-in;
      }      

      #control-costs.appear:hover::after {
        transform: scale(1);
      }

      /* SOLUTIONS */
      #solutions-carousel {
        display: none;
      }

      #solutions-parallax {
        background-image: url(../img/solutions.jpg);
        background-position: 50% 20%;
      }

      /* Employee Self Management */
      #employee-carousel {
        display: none;
      }

      #employee-parallax {
        background-image: url("../img/employee-self-management.jpg");
        background-repeat: no-repeat;
        background-color: rgb(139, 139, 139);
        background-blend-mode: multiply;
        background-position: 36% 20%;
        background-size: cover;
      }

      .section-list {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 2.5rem;
        list-style-type: circle;
        margin-bottom: 2rem;
      }

      .benefits-list {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 2.5rem;
        margin-bottom: 2rem;
      }

      /* Performance Management */
      #performance-carousel {
        display: none;
      }

      #performance-parallax {
        background-image: url("../img/performance.jpg");
        background-repeat: no-repeat;
        background-color: rgb(139, 139, 139);
        background-blend-mode: multiply;
        background-position: 40% 20%;
        background-size: cover;
      }

      /* Time Keeping */
      #time-carousel {
        display: none;
      }

      #time-parallax {
        background-image: url("../img/time.jpg");
        background-repeat: no-repeat;
        background-color: rgb(139, 139, 139);
        background-blend-mode: multiply;
        background-position: 36% 20%;
        background-size: cover;
      }

      /* Employee Portal */
      #portal-carousel {
        display: none;
      }

      #portal-parallax {
        background-image: url("../img/portal.jpg");
        background-repeat: no-repeat;
        background-color: rgb(139, 139, 139);
        background-blend-mode: multiply;
        background-position: 36% 20%;
        background-size: cover;
      }

      /* Schedule Fulfillment */
      #schedule-carousel {
        display: none;
      }

      #schedule-parallax {
        background-image: url("../img/schedule.jpg");
        background-repeat: no-repeat;
        background-color: rgb(139, 139, 139);
        background-blend-mode: multiply;
        background-position: 36% 20%;
        background-size: cover;
      }

      /* Intraday */
      #intraday-carousel {
        display: none;
      }

      #intraday-parallax {
        background-image: url("../img/intraday.jpg");
        background-repeat: no-repeat;
        background-color: rgb(139, 139, 139);
        background-blend-mode: multiply;
        background-position: 36% 20%;
        background-size: cover;
      }

      /* SERVICES */
      #services-carousel {
        display: none;
      }

      #services-parallax {
        background-image: url("../img/services.jpg");
      }
      /* Software as a Service */
      #software-carousel {
        display: none;
      }

      #software-parallax {
        background-image: url("../img/software-as-a-service.jpg");
      }
      /* Deployment Process */
      #deployment-carousel {
        display: none;
      }

      #deployment-parallax {
        background-image: url("../img/deployment.jpg");
      }
      /* Integration */
      #integration-carousel {
        display: none;
      }

      #integration-parallax {
        background-image: url("../img/integration.jpg");
      }
      /* Training Process */
      #training-carousel {
        display: none;
      }

      #training-parallax {
        background-image: url("../img/training.jpg");
        background-position: 50% 2rem;
      }

      /* INDUSTRIES */
      #industries-carousel {
        display: none;
      }

      #industries-parallax {
        background-image: url("../img/industries.jpg");
      }
     
      /* Contact Centers */
      #contact-centers-carousel {
        display: none;
      }

      .contact-centers-parallax {
        background-image: url("../img/contact-centers.jpg");
        background-position: 50% 0%;
      }

      /* Outsourcers */
      #outsourcers-carousel {
        display: none;
      }

      #outsourcers-parallax {
        background-image: url("../img/outsourcers.jpg");
      }

      /* At-Home Centers */
      #at-home-agents-carousel {
        display: none;
      }

      #at-home-parallax {
        background-image: url("../img/at-home-agents.jpg");
      }

      /* Healthcare */
      #healthcare-carousel {
        display: none;
      }

      #healthcare-parallax {
        background-image: url("../img/healthcare.jpg");
        background-position: 50% 3.5rem;
      }

      #healthcare-list {
        font-size: 1.5rem;
        margin-left: 4rem;
        margin-bottom: 3rem;
      }

      #healthcare-list li{
        margin-bottom: 1rem;
      }  

      /* Hospitality */
      #hospitality-carousel {
        display: none;
      }

      .hospitality-parallax {
        background-image: url("../img/hospitality.jpg");
        background-position: 50% -3rem;
      }

      /* Public-Safety */
      #public-safety-carousel {
        display: none;
      }

      .public-safety-parallax {
        background-image: url("../img/public-safety.jpg");
        background-position: 50% 25%;
      }

      /* Manufacturing */
      #manufacturing-carousel {
        display: none;
      }

      #manufacturing-parallax {
        background-image: url("../img/manufacturing.jpg");
      }

      /* Shift Based  */
      #shift-carousel {
        display: none;
      }

      #shift-parallax {
        background-image: url("../img/shift-based.jpg");
        background-position: 50% 3rem;
      }
          
      /* ABOUT */
      #about-carousel {
        display: none;
      }
        
      #about-parallax {
        background-image: url("../img/about.jpg");
      }

      /* Company */
      #company-carousel {
        display: none;
      }

      #company-parallax {
        background-image: url("../img/company.jpg");
      }

      #company-list-1 {
        font-size: 1.4rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 0rem;
      }

      #company-list-1 li{
        margin-bottom: 1rem;
      }  

      #company-list-2 {
        font-size: 1.4rem;
        margin-left:0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
      }

      #company-list-2 li{
        margin-bottom: 1rem;
      }  

      /* Management Team */
      #management-team-carousel {
        display: none;
      }

      #management-team-parallax {
        background-image: url("../img/management-team.jpg");
      }

      /* Mission */
      #mission-carousel {
        display: none;
      }

      #mission-parallax {
        background-image: url("../img/mission.jpg");
      }

      /* Careers */
      #careers-carousel {
        display: none;
      }

      .careers-parallax {
        background-image: url("../img/careers.jpg");
        background-position: 35% 3rem;
      }   

      /* CONTACT */
      #contact-carousel {
        display: none;
      }

      #contact-parallax {
        background-image: url("../img/contact.jpg");
      }
     
      /* Sales */
      #sales-carousel {
        display: none;
      }

      #sales-parallax {
        background-image: url("../img/sales.jpg");
        background-position: 50% 0.5rem;
      }   

      /* Media */
      #media-carousel {
        display: none;
      }

      #media-parallax {
        background-image: url("../img/media.jpg");
      }

      /* General */
      #general-carousel {
        display: none;
      }

      #general-parallax {
        background-image: url("../img/general.jpg");
      }

      /* Customer Support */
      #customer-support-carousel {
        display: none;
      }

      #customer-support-parallax {
        background-image: url("../img/customer-support.jpg");
        background-position: 100% 1rem;
      }

      /* SUCCESS STORY */
      #success-parallax {
        background-image: url("../img/success.jpg");
      }

      #success-carousel {
      display: none;
      }

      /* Ideal Solution */
      #ideal-parallax {
        background-image: url(../img/case1.jpg);
      }

      /* Free From Time Consuming Tasks */
      #free-parallax {
        background-image: url(../img/case2.jpg);
      }

      /* SUPPORT  */
      #support-carousel {
        display: none;
      }

      #support-parallax {
        background-image: url("../img/support.jpg");
      }

      /* Support Plans */
      #support-plans-carousel {
        display: none;
      }
      
      #support-plans-parallax {
        background-image: url("../img/support-plans.jpg");
        background-position: 100% 0.25rem;
      }

      /* Implementation Process */ 
      #implementation-process-carousel {
        display: none;
      }

      #implementation-process-parallax {
        background-image: url("../img/implementation.jpg");
      }

      /* Privacy  */
      #privacy-carousel {
        display: none;
      }

      #privacy-parallax {
        background-image: url("../img/privacy.jpg");
      }

      /* Security */
      #security-carousel {
        display: none;
      }

      #security-parallax {
        background-image: url("../img/security.jpg");
      }

      /* CUSTOMERS */
      #customers-carousel {
        display: none;
      }

      #customers-parallax {
        background-image: url("../img/customers.jpg");
      }

      /* Brick and Mortar */
      #brick-carousel {
        display: none;
      }

      #brick-parallax {
        background-image: url("../img/brick-and-mortar.jpg");
        background-position: 100% -100px;
      }

      /* Home Agent */
      #home-agent-carousel {
        display: none;
      }

      #home-agent-parallax {
        background-image: url("../img/home-agent.jpg");
      }

      /* NEWS */
      #news-carousel {
        display: none;
      }

      .news-parallax {
        background-image: url("../img/news.jpg");
      }

      /* CONTROL COSTS */
      #control-costs-carousel {
        height: 75vh;
        margin-top: 60px;
      }

      /* EMPLOYEE SATISFACTION */
      #employee-satisfaction {
        height: 75vh;
        margin-top: 60px;
      }

      /* RETURN ON INVESTMENT */
      #return-on-investment {
        height: 75vh;
        margin-top: 60px;
      }
      }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) { 
        /* GLOBAL */
        .section-body {
          padding-left: 14rem;
          padding-right: 14rem;
        }
        .section-list, .benefits-list  {
          font-size: 1.15rem;
        }
        .card h1 {
          font-size: 1.75rem;
        }
      
        #index1 .carousel-caption {
          top: 55%;
        }
        
        .card {
          width:34rem;
        }
      
        .card-img {
          height: 38vh;
        }

        .parallax {
          height: 100vh;
        }

        .parallax-text h1 {
          font-size: 3.25rem;
        }

        /* NAV BAR */
        #erp-logo-nav{
          width: 13rem;
        }
      
        .current {
          font-size: 1rem;
        }
                     
        .navbar-link {
          font-size: 1rem;
        }  

        /* FOOTER */
        #copywright{
          font-size: 0.8rem;
        }

        #erp-logo-copywright{
          max-width: 7rem;
        }

        #erp-logo-footer{
          max-width: 12rem;
        }

        footer .btn {
          font-size: 1rem;
          margin: 0;
          padding: 0.4rem;
        }   

        .footer-current {
          font-size: 1rem;
          position: relative;
        }
        
        .footer-current::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 95%;
          height: 2px;
          background: #006993;
        }

        /* INDEX */
        #index1 {
          height: 100vh;
        }
  
        #index2 {
          height: 100vh;
        }

        #case-study .btn {
          font-size: 1.25rem;
          padding: 0.5rem;
        }
              
        /* CONTROL COSTS */
        #control-costs-carousel {
          height: 100vh;
        }

        /* EMPLOYEE SATISFACTION */
         #employee-satisfaction {
          height: 100vh;
        }

        /* RETURN ON INVESTMENT */
          #return-on-investment {
            height: 100vh;
          }
        }     

          @media (min-width: 1600px) { 
          /* GLOBAL */ 
          .section-body {
            padding-left: 18rem;
            padding-right: 18rem;
          }
  
          .section-body p {
            font-size: 1.5rem;
            line-height: 2;
            padding-bottom: 1.5rem;
          }

          .card-img {
            height: 40vh;
          }

          .subtitle {
            font-size: 1.75rem;
          }

          /* INDEX */
          #case1 {
            height: 100vh;
            background-position: 50% 24%;
          }

          #case1 .carousel-caption {
            top: 47%;
          }

          #case1 h1 {
            font-size: 6rem;
          }
    
          #case1 h2 {
            margin-top: 20rem;
          }

          #case2 {
            height: 100vh;
          }
  
          #case2 .carousel-caption {
            top: 52%;
          }
  
          #case2 h1 {
            font-size: 6rem;
          }
    
          #case2 h2 {
            font-size: 2.5rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
          }

          /* NAV BAR */
          #erp-logo-nav{
            width: 15rem;
          }
      
          .current {
            font-size: 1.25rem;
          }

          .navbar-link {
            font-size: 1.25rem;
          }

          /* FOOTER */
          #erp-logo-copywright{
            max-width: 8rem;
          }

          #copywright {
            font-size: 0.75rem; 
          }
      
          #erp-logo-footer{
            max-width: 18rem;
          }

          .section-list, .benefits-list {
            font-size: 1.3rem;
            margin-bottom: 3rem;
          }

          .list-title {
            font-size: 1.4rem;
          }

          /* SOLUTIONS */
          #solutions-parallax {
            background-position: 50% 20%;
          }

          #manufacturing-parallax {
            background-position: 50% -10rem;
          }

          .news-parallax {
            background-position: 50% -7rem;
          }
          }