/* GLOBAL */
html, body {
  height: 100%;
  width: 100%;
  /* font-family: 'Nunito Sans', sans-serif; */
  color: #222222;
  background-color: white;
}
html {
  scroll-behavior: smooth;
}

.blue {
  color: #1d184a;
}

.light-blue {
  color: #006993;
}

.drk:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000;
  opacity:0.4;
}

.dropdown-item {
  font-size: 1rem;
}

.section-title h1{
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.section-body{
  font-size: 1rem;
  width: 100%;
  height: auto;
  margin: auto;
}

.subtitle{
  font-size: 1.4rem;
  font-weight: 750;
  margin: 1rem 1.5rem 1rem 1.4rem;
}

.section-body p{
  margin-bottom: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1.5;
}

#erp-logo-address{
  max-width: 10rem;
}

.hide-small {
  display: none;
} 

/* NAV BAR */
#erp-logo-nav{
  max-width: 10rem;
}

.navbar-link {
  font-size: 1rem;
}

nav {
  background-color: rgb(250, 250, 250);
}

nav .dropdown-item {
  font-size: 1rem;
}

/* FOOTER */
#copywright-small
{
  font-size: 0.6rem;
  margin-top: 1rem;
}

footer {
  border-top: 1px solid gray;
}

#erp-logo-copywright{
  max-width: 4.5rem;
}

#erp-logo-footer{
  max-width: 11rem;
}

/* INDEX */
/* Index Carousel */
 #index-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-right: 0px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#index-carousel .carousel-caption{
  position: absolute;
  top:4.5vh;
}

#index-carousel h1 {
  font-size: 1.25rem;
  margin-bottom: 0;
 }

/* SOLUTIONS */
/* solutions-carousel */
#solutions-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
}

#solutions-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}

#solutions-carousel h1 {
  font-size: 1.3rem;
  margin-bottom: 0;
}


#solutions-cards h1 {
  font-size: 1.1rem;
  font-weight: 700;
}

/* SOLUTIONS SUB-CATEGORIES */
#solutions-list {
  font-size: 1.4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

#solutions-list li{
  margin-bottom: 1rem;
}   





/* SERVICES */
/* services-carousel */
#services-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#services-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}

#services-carousel h1 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

#services-cards h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

/* INDUSTRIES */
/* industries-carousel */
#industries-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#industries-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}

#industries-carousel h1 {
  font-size: 1.25rem;
  margin-bottom: 0;
}

#industries-cards h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 650;
}

#industries-cards .card {
  margin-top: 1rem;
 }

/* INDUSTRIES SUB-CATEGORIES */
#industries-list {
  font-size: 1rem;
  margin-bottom: 3rem;
}

#industries-list li{
  margin-bottom: 0.5rem;
}  




/* ABOUT */
/* about-carousel */
#about-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#about-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}

#about-carousel h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

#about-cards {
  margin-top: 2rem;
}

#about-cards .card {
  margin-bottom: 1rem;
}

#about-cards h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#careers-list {
  font-size: 1.05rem;
  margin-left: -1rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

#careers-list li{
  margin-bottom: 0.5rem;
}  

/* CONTACT */
/* contact-carousel */
#contact-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#contact-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}

#contact-carousel h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

#contact-cards .card {
  margin-bottom: 1rem;
}


#contact-cards h1{
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 650;
}


/* SUCCESS STORY */
/* success-carousel */
#success-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
        margin-bottom: 2rem;
}

#success-carousel .carousel-caption{
  position: absolute;
  top:1vh;
}

#success-carousel h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

#success-cards .card {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#success-cards .btn {
 font-size: 1rem;
 padding: 0.5rem;
 width: 8rem;
}

#success-cards h1 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom:1rem;
}

#success-cards p {
  font-size: 0.95rem;
  margin-bottom:2rem;
}



/* SUPPORT */
#support-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 4rem;
        margin-bottom: 2rem;
}

#support-carousel .carousel-caption{
  position: absolute;
  top:1vh;
}

#support-carousel h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

#support-list {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

#support-list li{
  margin-bottom: 0.5rem;
}  


/* CUSTOMERS */

/* CAREERS */

/* NEWS */
/* news-carousel */
#news-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: hidden;
  color: white;
  text-shadow: 5px 5px 7px black;
}

#news-carousel .carousel-caption{
  position: absolute;
  top:3vh;
}

#news-carousel h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
/* GLOBAL */

/* INDEX */
  /* index-carousel */
      #index-carousel {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 50vh;
          position: relative;
          overflow-y: hidden;
          color: white;
          text-shadow: 5px 5px 7px black;
          margin-top: 4rem;
          margin-bottom: 2rem;
      }

      #index-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #index-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* FOOTER */
      #copywright-small
      {
        font-size: 1rem;
        margin-top: 1rem;
      }

/* SOLUTIONS */
  /* solutions-carousel */
      #solutions-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #solutions-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #solutions-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      #solutions-cards h1 {
        font-size: 1.3rem;
      }

/* SERVICES */
  /* services-carousel */
      #services-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #services-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #services-carousel h1 {
        font-size: 2.2rem;
        margin-bottom: 0;
      }

      #services-cards h1 {
        font-size: 1.5rem;
        font-weight: 750;
      }

      
      #services-cards .card {
        margin-top: 0;
        padding: 1rem;
    }


    #services-cards img {
      width: 100%;
    height: 40vw;
    object-fit: cover;
    }

/* INDUSTRIES */
  /* industries-carousel */
      #industries-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #industries-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #industries-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      .industries-cards h1 {
        font-size: 1.5rem;
        font-weight: 650;
      }

      #industries-cards .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
         padding: 1rem;
       }


/* ABOUT */
  /* about-carousel */
      #about-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-shadow: 5px 5px 7px black;
      }

      #about-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #about-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* CONTACT */
  /* contact-carousel */
      #contact-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #contact-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #contact-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* SUCCESS */
      #success-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #success-carousel .carousel-caption{
        position: absolute;
        top:4.5vh;
      }

      #success-carousel h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }


/* NEWS */
/* news-carousel */
      #news-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
      }

      #news-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #news-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* SUPPORT */
/* support-carousel */
      #support-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #support-carousel .carousel-caption{
        position: absolute;
        top:4.5vh;
      }

      #support-carousel h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }

      #erp-logo-nav{
        max-width: 15rem;
      }

      #erp-logo-copywright{
        max-width: 8rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
/* GLOBAL */
      .section-body{
        width: 100%;
        height: auto;
        margin: auto;
        line-height: 1.5;
      }

      .section-body p{
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      .subtitle{
        font-size: 1.4rem;
        font-weight: 750;
        margin: 1rem 1.5rem 1rem 1.5em;
      }

      .section-title h1{
        font-size: 2.5rem;
        font-weight: 800;
      }

/* NAV BAR */
      #erp-logo-nav{
       max-width: 15rem;
}

/* FOOTER */
#copywright-small
      {
        font-size: 1.25rem;
        margin-top: 1rem;
      }

/* INDEX */
  /* index-carousel */
      #index-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
          margin-bottom: 2rem;
      }
    
      #index-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #index-carousel h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
      }

/* SOLUTIONS */
  /* solutions-carousel */
      #solutions-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #solutions-carousel .carousel-caption{
        position: absolute;
        top:8vh;
      }

      #solutions-carousel h1 {
        font-size: 2.8rem;
        margin-bottom: 0;
      }

      #solutions-cards h1 {
        font-size: 1rem;
      }

      #solutions-cards .card {
        width:20rem;
      }

/* SERVICES */
  /* services-carousel */
      #services-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #services-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #services-carousel h1 {
        font-size: 2.75rem;
        margin-bottom: 0;
        
      }

      #services-cards .card {
        margin-top: 0;
        padding: 1rem;
      }

      #services-cards img {
        width: 100%;
      height: 20vw;
      object-fit: cover;
      }

      #services-cards h1 {
        font-size: 1rem;
        font-weight: 750;
        margin-top: -1rem;
      }

/* INDUSTRIES */
  /* industries-carousel */
      #industries-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #industries-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #industries-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      #industries-cards .card {
        margin-top: 0;;
        padding: 1rem;
      }


/* ABOUT */
  /* about-carousel */
      #about-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #about-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #about-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* CONTACT */
  /* contact-carousel */
      #contact-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #contact-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #contact-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* SUCCESS */
  /* success-carousel */
      #success-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #success-carousel .carousel-caption{
        position: absolute;
        top:7vh;
      }

      #success-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* NEWS */
  /* news-carousel */
      #news-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
      }

      #news-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #news-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

/* SUPPORT */
  /* support-carousel */
      #support-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #support-carousel .carousel-caption{
        position: absolute;
        top:7vh;
      }

      #support-carousel h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }

      #support-list {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
      
      #support-list li{
        margin-bottom: 0.5rem;
      }  

  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
/* GLOBAL */
      body {
        overflow-x: hidden;
      }

      .hide-large {
        display: none;
      } 
        
      .hide-small {
            display: inherit;
      }      

      .section-title {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .subtitle{
        font-size: 1.4rem;
        font-weight: 750;
        margin: 1rem 1.5rem 1rem 3.5em;
      }

      .fade-in {
        opacity: 0;
        transition: opacity 250ms ease-in;
      }

      .fade-in.appear {
        opacity: 1;
      }

      .from-left {
        grid-column: 2 / 3;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      .from-right {
        grid-column: 3 / 4;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
      }

      .from-left,
      .from-right {
        transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in,
          -webkit-transform 400ms ease-in;
        opacity: 0;
      }

      .from-left.appear,
      .from-right.appear {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }

      .more-stuff-grid {
        padding: 4em 0;
        display: grid;
        grid-gap: 2em;
        align-items: center;
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
            1em,
            1fr
          );
      }

      .more-stuff-grid img, .more-stuff-grid h2 {
        width: 40.25vw;
      }

      .section-body{
        width: 100%;
        height: auto;
        margin: auto;
      }
      
      .section-body p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 2.75rem;
        margin-left: 5rem;
        margin-right: 5rem; 
       }
      
       .section-body ul {
        font-size: 1.2rem;
        line-height: 1.5rem;
       }

/* NAV BAR */
      #erp-logo-nav{
        max-width: 12rem;
      }

      nav a, .navbar-link {
        padding-right: 0.35rem;
        font-size: 0.85rem;
     }

/* FOOTER */
     #copywright {
      font-size: 0.6rem;
      margin-top: 1rem;
     }

      #erp-logo-copywright{
        max-width: 5rem;
      }

      #erp-logo-footer{
        max-width: 12rem;
      }

      .foot-link {
        font-size: 0.75rem;
        margin-right: -0.5rem;
      }
          

      /* footer a {
        font-size: 0.75rem;
        margin-right: -1rem;
        padding-right: 0.35rem;
        font-size: 1rem;
      } */
/*             
      footer .btn-group {
        width: 4.5rem;
        margin-right: 0.8rem;
    } */

       footer .dropdown-item {
        font-size: 1rem;
      }
         
     footer .dropdown-menu{
           min-height: 9rem;
      }
    

/* INDEX */
/* index-carousel */
      #index-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
          margin-bottom: 2rem;
      }

      #index-carousel .carousel-caption{
        position: absolute;
        top:18vh;
      }

      #index-carousel h1 {
        font-size: 3.5rem;
        margin-bottom: 0;
      }

/* SOLUTIONS */
      #solutions-carousel {
        display: none;
      }

      .solutions-parallax {
        background-image: url(../img/solution.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(69%);
        margin-top: 4rem;
      }

      .solutions-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .solutions-parallax-text h1 {
      font-size: 3rem;
      }

      #solutions-cards h1 {
          font-size: 1.5rem;
      }
        
      #solutions-cards .card {
          width:28rem;
      }

/* SERVICES */
      #services-carousel {
        display: none;
      }

      .services-parallax {
        background-image: url(../img/services.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(80%);
        margin-top: 4rem;
      }

      .services-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .services-parallax-text h1 {
      font-size: 3rem;
      }

      #services-cards .card {
        margin-top: 0;
        padding: 1rem;
      }

      #services-cards img {
        width: 100%;
      height: 25vw;
      object-fit: cover;
      }

      #services-cards h1 {
        font-size: 1.25rem;
        font-weight: 750;
      }

/* INDUSTRIES */
      #industries-carousel {
        display: none;
      }

      .industries-parallax {
        background-image: url(../img/industries.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(55%);
        margin-top: 4rem;
      }

      .industries-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .industries-parallax-text h1 {
      font-size: 3rem;
      }

     
      #industries-cards .card {
        margin-top: 1rem;

        padding: 1rem;
        }
  
  

        #industries-cards h1 {
          font-size: 1.25rem;
        }

/* INDUSTRIES SUB-CATEGORIES */
        #industries-list {
          font-size: 1.25rem;
          margin-left: 0rem;
          margin-right: 0rem;
          margin-bottom: 0rem;
        }

        #industries-list li{
          margin-bottom: 1rem;
        }  

        #healthcare-list {
          font-size: 1.5rem;
          margin-left: 4rem;
          margin-bottom: 3rem;
        }

        #healthcare-list li{
          margin-bottom: 1rem;
        }  

/* ABOUT */
      #about-carousel {
        display: none;
        }
        
      .about-parallax {
        background-image: url(../img/about.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(65%);
        margin-top: 4rem;
      }

      .about-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .about-parallax-text h1 {
      font-size: 4rem;
      }

/* ABOUT SUB-CATEGORIES */
      #company-list-1 {
        font-size: 1.4rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 0rem;
      }

      #company-list-1 li{
        margin-bottom: 1rem;
      }  

      #company-list-2 {
        font-size: 1.4rem;
        margin-left:0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
      }

      #company-list-2 li{
        margin-bottom: 1rem;
      }

      

/* CONTACT */
      .contact-parallax {
        background-image: url(../img/contact.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(45%);
        margin-top: 4rem;
      }

      .contact-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .contact-parallax-text h1 {
      font-size: 3rem;
      }

      #contact-carousel {
      display: none;
      }

      #contact-cards h1{
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 650;
      }

/* SUCCESS */
      .success-parallax {
        background-image: url(../img/success.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(50%);
        margin-top: 4rem;
      }

      .success-parallax-text  {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .success-parallax-text h1 {
      font-size: 2.25rem;
      }

      #success-carousel {
      display: none;
      }

/* SUPPORT  */
      #support-list {
        font-size: 1.5rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 0rem;
      }

      #support-list li{
        margin-bottom: 1rem;
      } 

      .support-parallax {
        background-image: url(../img/support.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(45%);
        margin-top: 4rem;
      }

      .support-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .support-parallax-text h1 {
      font-size: 3rem;
      }

      #support-carousel {
        display: none;
        }
  

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/* GLOBAL */
      .fade-in {
        opacity: 0;
        transition: opacity 250ms ease-in;
      }

      .fade-in.appear {
        opacity: 1;
      }

      .from-left {
        grid-column: 2 / 3;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      .from-right {
        grid-column: 3 / 4;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
      }

      .from-left,
      .from-right {
        transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in;
        transition: opacity 250ms ease-in, transform 400ms ease-in,
          -webkit-transform 400ms ease-in;
        opacity: 0;
      }

      .from-left.appear,
      .from-right.appear {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }

      .more-stuff-grid {
        padding: 4em 0;
        display: grid;
        grid-gap: 2em;
        align-items: center;
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
            1em,
            1fr
          );
      }
        
      .more-stuff-grid img {
        width: 31vw;
      }

      .more-stuff-grid h2 {
        width: 26.25vw;
      }

/* NAV BAR */
      #erp-logo-nav{
        max-width: 20rem;
      }

      nav {
        height: 60px;
        width: 100%;
        position: fixed;
        padding: 5rem;
      } 

      nav a, .navbar-link {
        padding-right: 0.35rem;
        font-size: 1rem;
     }

/* FOOTER */
      #copywright{
        font-size: 0.8rem;
      }

      #erp-logo-copywright{
        max-width: 7rem;
      }

      #erp-logo-footer{
        max-width: 12rem;
      }

      .foot-link {
        font-size: 1rem;
        margin-right: -0.5rem;
      }
            
      /* footer .btn-group {
        width: 4rem;
        margin-right: 0rem;
    }

    footer .btn {
      width: 4rem;
      margin-right: 0rem;
  } */

      /* footer .dropdown-item {
        font-size: 1.5rem;
      } */
         
      /* footer .dropdown-menu{
           min-height: 9rem;
      } */

/* INDEX */
  /* index-carousel */
      #index-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
          margin-bottom: 2rem;
      }

      #index-carousel .carousel-caption{
        position: absolute;
        margin: 0;
        padding: 0;
        top:30vh;
      }

      #index-carousel h1 {
        font-size: 4rem;
        margin-bottom: 0;
      }
  /* success-carousel */
      #success-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
      
      #success-carousel .carousel-caption{
        position: absolute;
        top:8vh;
      }
      
      
      #success-carousel h1 {
        font-size: 7rem;
        margin-bottom: 0;
      }
      
      #success-carousel h2 {
        font-size: 2.5rem;
      } 

/* SOLUTIONS */
      #solutions-cards h1 {
        font-size: 1.75rem;
      }

      #solutions-cards .card {
        width:34rem;
      }

      .solutions-parallax {
        background-image: url(../img/solution.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(69%);
        margin-top: 4rem;
      }

      .solutions-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .solutions-parallax-text h1 {
      font-size: 3.5rem;
      }

/* SERVICES */
      .services-parallax {
        background-image: url(../img/services.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(69%);
        margin-top: 4rem;
      }

      .services-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .services-parallax-text h1 {
      font-size: 3.75rem;
      }

      
      #services-cards .card {
        margin-top: 0;
        padding: 1rem;
    }

    #services-cards img {
      width: 100%;
    height: 20vw;
    object-fit: cover;
    }
      

      #services-cards h1 {
        font-size: 1.5rem;
        font-weight: 750;
      }

/* INDUSTRIES */
      .industries-parallax {
        background-image: url(../img/industries.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(55%);
        margin-top: 4rem;
      }

      .industries-parallax-text  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .industries-parallax-text h1 {
      font-size: 4rem;
      }
    
     
      #industries-cards h1 {
        font-size: 1.5rem;
        
     }

     #industries-cards .card {
      margin-top: 1rem;
      padding: 1rem;
      }



/* ABOUT */
      .about-parallax {
        background-image: url(../img/about.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(65%);
        margin-top: 4rem;
      }

      .about-parallax-text  {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

/* CONTACT */
      .contact-parallax {
        background-image: url(../img/contact.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(45%);
        margin-top: 4rem;
      }

      .contact-parallax-text  {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .contact-parallax-text h1 {
      font-size: 3.5rem;
      }

/* SUCCESS STORY */
      .success-parallax {
        background-image: url(../img/success.jpg);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: grayscale(60%);
        margin-top: 4rem;
      }

      .success-parallax-text  {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 5px 5px 5px black;
      }

      .success-parallax-text h1 {
      font-size: 3rem;
      }

}

 @media (min-width: 1600px) { 
/* GLOBAL */

/* INDEX */
  /* index-carousel */
      #index-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
          margin-bottom: 2rem;
      }

      #index-carousel .carousel-caption{
        position: absolute;
        margin: 0;
        padding: 0;
        top:25vh;
      }

      #index-carousel h1 {
        font-size: 5rem;
        margin-bottom: 0;
      }

      #index-carousel img {
        margin: 0;
        padding: 0;
      }

  /* Success carousel */
      #success-carousel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow-y: hidden;
        color: white;
        text-shadow: 5px 5px 7px black;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      #success-carousel .carousel-caption{
        position: absolute;
        top:10vh;
      }

      #success-carousel h1 {
        font-size: 8rem;
        margin-bottom: 0;
      }

      #success-carousel h2 {
        font-size: 3rem;
      } 

      .success-parallax-text h1 {
        font-size: 3.5rem;
        }

/* NAV BAR */
      nav a, .navbar-link {
        padding-right: 0.35rem;
        font-size: 1.25rem;
      }

/* FOOTER */
      #erp-logo-copywright{
        max-width: 8rem;
      }

      #copywright {
        font-size: 0.75rem; 
      }
      
      #erp-logo-footer{
        max-width: 15rem;
      }


/* SOLUTIONS */
      .solutions-parallax-text h1 {
        font-size: 4rem;
      }
      
      .more-stuff-grid h2 {
        width: 20.9vw;
      }

      #services-cards h1 {
        font-size: 1.75rem;
        font-weight: 750;
      }

/* SERVICES */
#services-cards .card {
  margin-top: 0;
  padding: 1rem;
}

/* INDUSTRIES */
.industries-parallax-text h1 {
  font-size: 4rem;
  }

/* ABOUT */

/* CONTACT */
.contact-parallax-text h1 {
  font-size: 4rem;
  }

/* SUCCESS */
}